<div class="menu-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      &#127869 Trivia
    </h2>

      <button type="submit" value="Submit">
        Submit
      </button>
    </form>
  </div>
</div>

{{!-- <script src="/js/add-dish.js"></script> --}}
