        <main class="container mt-5">
          <div class="row">
            <div class="highscores-card mx-auto" style="max-width: 18rem;">
              <h1 class="trivia-card-header">High Scores</h1>
              <section>
                {{#each scores as |score index|}}
                <div class="answer-btn">
                  
                  <h5># {{index}}: {{score.user.username}} {{score.game_score}}</h5>
                </div>
                {{/each}}
              </section>
              <div class="text-center">
              <a href="trivia"><button class="answer-btn">Play Again</button></a>
              </div>
            </div>
          </div>
        </main>