        <main>
          <div class="row">
            <div class="card mx-auto tanslate-middle text-bg mb-3" style="max-width: 18rem;">
              <h1 class="text-center">High Scores</h1>
              <section>
                {{#each scores as |score|}}
                <div>
                  <h5>{{score.user.username}}</h5>
                  <p>{{score.game_score}}</p>
                  <p>{{score.date_created}}</p>
                   <p>{{score.time_created}}</p>
                </div>
                {{/each}}
              </section>
              <a href="trivia"><button>Play Again</button></a>
            </div>
          </div>
        </main>