        <main>
            <div class="row">
            <div class="card position-absolute mx-auto tanslate-middle text-bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header text-center">&#127881 Let's Play Trivia! &#127881</div>
                <div class="card-body">
                    <a href="signup"><button class="card-title text-center">Sign Up</button></a>
                    <a href="login"><button class= "card-text text-center"> Log in</button></a>
                  </div>
            </div>
            </div>
        </main>