        <main>
            <div class="row">
                <div class="card position-absolute top-50 start-50 tanslate-middle text-bg-primary mb-3"
                    style="max-width: 18rem;">
                    <div class="card-header text-center"><h2>Log in</h2></div>
                    <form class="form login-form">
                        <div class="form-group">
                            <label for="username-login">Username:</label>
                            <input class="form-input" type="text" id="username-login" />
                        </div>
                        <div class="form-group">
                            <label for="password-login">Password:</label>
                            <input class="form-input" type="password" id="password-login" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Log in</button>
                        </div>
                    </form>

                    <script src="/js/login.js"></script>
                </div>
            </div>
        </main>