        <main>
            <div class="row">
                <div class="card position-absolute mx-auto tanslate-middle text-bg-primary mb-3"
                    style="max-width: 18rem;">
                    <div class="card-header text-center"><h2>Sign Up</h2></div>
                    <form class="form login-form">
                        <div class="form-group">
                            <label for="email-login">email:</label>
                            <input class="form-input" type="text" id="email-login" />
                        </div>
                        <div class="form-group">
                            <label for="password-login">password:</label>
                            <input class="form-input" type="password" id="password-login" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">submit</button>
                        </div>
                    </form>

                    <script src="/js/submit.js"></script>
                </div>
            </div>
        </main>