<main>
  <div class="row">
    <div class="card mx-auto tanslate-middle text-bg mb-3" style="max-width: 18rem;">
      <h1 class="text-center">{{user.username}}'s Scores</h1>
      <section>
        {{#each scores as |score|}}
        <div>
          <p>{{score.game_score}}</p>
          <p>{{score.date_created}}</p>
          <p>{{score.time_created}}</p>
        </div>
        {{/each}}
      </section>
      <button>Play Again</button>
    </div>
  </div>
</main>