<main class="container mt-5">
  <div class="row">
    <div class="scores-card mx-auto" style="max-width: 18rem;">
      <h1 class="user-card-header">Youe Scores</h1>
      {{#each scores as |score|}}
      <section>
        <div class=" row answer-btn">
          <h1 class="col-4">{{score.game_score}} </h1>
           <p class="col-4">{{score.date_created}} </p>
           <p class="col-4 text-end">{{score.time_created}}</p>
        </div>
        {{/each}}
      </section>
        {{#if logged_in}}      
      <div class="text-center">
      <a href="./trivia"><button class="answer-btn">Play Again</button></a>
      </div>
        {{else}}
      <div class="text-center">
      <a href="./login"><button class="answer-btn">Login</button></a>
      </div>
        {{/if}}
      </nav>
    </div>
  </div>
</main>