:root {
  --primary: #389393;
  --secondary: #7FFF00;
  --tertiary: #9f147f;
  --quatrinary: #6c6b67;
  --light: #ebebeb;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--secondary);
  border-bottom-style: solid;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

#navbarNav {
  display: flex;
  background-color: var(--secondary);
  align-items: center;
  flex-flow: row-reverse;
  height: 100px;
}

.trivia-gif {
  padding: 20px;
  margin-left:50px;
  width:60%;
  height: 60%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.scores-container {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 300px;
  border: 3px solid var(--primary);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: medium;
  background-color: var(--light);
  color: var(--dark);
  padding: 50px;
  max-width: fit-content;
  margin-top: 40px;
}

.user-scores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .add-dish-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  min-width: 35%;
  margin: 5px auto;
  border: 3px solid var(--primary);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: medium;
  background-color: var(--light);
  color: var(--dark);
  padding: 5px;
  text-align: center;
  background-color: var(--tertiary);
} */

/* .edit-dish-container {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  min-height: 100%;
  min-width: 35%;
  margin: 5px auto;
  border: 3px solid var(--primary);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: medium;
  background-color: var(--light);
  color: var(--dark);
  padding: 50px;
  text-align: center;
  background-color: var(--tertiary);
} */

/* CARDS */
.trivia-card {
  margin: 20px;
  margin-top: 40px;
  flex: 0 1 300px;
  padding: 5px;
  width: 35%;
  max-height: 200px;
  min-width: 35%;
  border: 3px solid var(--secondary);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: thick;
  background-color: var(--light);
  color: var(--dark);
}

/* .category-card {
  margin: 50px;
  flex: 0 1 300px;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: groove;
  border-width: thick;
  background-color: var(--light);
  color: var(--dark);
} */

/* .category-header {
  color: var(--light);
  margin: 0;
  background-color: var(--secondary);
  padding: 0.625rem;
  border: 3px solid var(--primary);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: medium;
} */

.trivia-card-header {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  background-color: var(--light);
  padding: 0.625rem;
  border-bottom-style: solid;
}

.card-body {
  padding: 2.5%;
  font-size: 1.4rem;
  text-align: center;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  color: var(--dark);
  padding: 20px;
}
.btn-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.answer-btn {
  text-align: center;
  border-radius: 50px;
  color: var(--dark);
  padding: 20px;
  margin: 1rem;
  background-color: #7FFF00;
}
